
  ul li {
	 display: inline;
	 padding-right: 5px;
	 color:#555555;
   width: 60px;

}
  h1 {
    font-family: DIN Alternate;
    font-size: 2.5em;
    color: #000000

  }
  h2{
    font-size: 2.3em;
    text-align: center;
  }
  h3{
    text-align: center;
    font-family: DIN Alternate;
  }
  p {
    text-align: center;
    font-family: Courier new;
  }

  .header {
  		padding: 10px 10px 10px 10px;
  		text-align: center;
      margin: 0px 0px 0px 0px;
      color: #ffffff;

  	}
  .main-content {
  
      padding: 5px 0px 10px 0;
      font-family: DIN Alternate;
      padding-bottom: 15px;
      width: 500px;
      margin: 15px auto 15px auto;
  	}
  #menu ul {
      display: inline;
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      font-family: Courier new; 
    }
  #menu a {
      display: inline-block;
      color: #000000;
      background-color: #ffffff;
      text-decoration: none;
      text-align: center; 
      padding: 5px;
    }
  #menu a:hover {
      background-color: #000000;
      color: #ffffff;
    }
    .pictures img {
      padding: 10px 0px 10px 0px;
      text-align: center;
    }
    label {
  display: block;
  font-family: Courier new;
  color: #000000;
}

input {
  width: 250px;
  display: block;
  font-size: 20px; 
}

input[type='submit'] {
  width: 125px;
  font-size: 25px;
  color: #000000;
 
}

textarea {
  width: 250px;
  height: 100px;
  border:2px #000000 solid;
}
input[type='text']{
  border:2px #000000 solid;
}
.messagebox img{
  float: right;
  display: inline-block;
}
.contact-info {
  text-align: center;
  
  font-size: 15px;
}
